/* PasswordStrength.css */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #121212;
    color: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.password-container {
    text-align: center;
    background-color: #1a1a1a;
    padding: 30px;
    border-radius: 10px;
    width: 499px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #e0e0e0;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 1.2rem;
    border-radius: 5px;
    border: 2px solid #333;
    background-color: #222;
    color: #e0e0e0;
}

input:focus {
    outline: none;
    border-color: #666;
}

.strength-display {
    font-size: 1rem;
    font-weight: bold;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    color: #fff;
}

.strength-display.weak {
    background-color: #ff4d4d;
}

.strength-display.medium {
    background-color: #ffcc00;
}

.strength-display.strong {
    background-color: #4caf50;
}
